.login {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

.btn:hover {
  opacity: 0.9;
  color: white;
}

.facebook {
  background: #3B5998;
  color: white;
}

.google {
  background: #ea4235;
  color: white;
}

.github {
  background: #444444;
  color: white;
}
