<div class="d-flex justify-content-between">
  <div>
    <h4 class="mb-3">Users</h4>
  </div>
</div>

<table aria-describedby="users" class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">User Name</th>
      <th scope="col">Email</th>
      <th scope="col">Enabled</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of users | async">
      <td>
        <div *ngIf="item.firstName || item.lastName; else noName">{{item.firstName}} {{item.lastName}}</div>
        <ng-template #noName>
            <span class="text-muted">No name</span>
        </ng-template>
      </td>
      <td>{{item.userName}}</td>
      <td><a [href]="'mailto:' + item.email">{{item.email}}</a></td>
      <td>
        <em class="fa fa-check-double" [ngClass]="[ item.enabled ? 'text-success': 'text-muted']"></em>
      </td>
    </tr>
  </tbody>
</table>
