<div class="container-small shadow p-3 mb-5 bg-white rounded login mx-auto login">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Two Factor Authentication</h3>
        </div>
        <div class="panel-body">
          <form [formGroup]="loginForm" (ngSubmit)="login()">

            <div class="form-group">
              <input class="form-control" placeholder="Code" name="code" type="text" formControlName="code"  minlength="6" maxlength="6"
                #code required [ngClass]="{'is-invalid': isInvalid('code')}">
              <div class="invalid-feedback">
                Please provide the authentication code.
              </div>
            </div>
            <hr/>
            <input class="btn btn-lg btn-success btn-block" type="submit" value="Login" [disabled]="!loginForm.valid">
            <button class="btn btn-lg btn-info btn-block" [routerLink]="['/auth/signIn']">Cancel</button>
          </form>
          <hr/>
            <button class="btn btn-lg btn-link btn-block" (click)="newQrCode()">Configure New Auth Account</button>
            <div class="mx-auto mt-3" style="width: 200px;" *ngIf="qrCode">
              <img alt="QrCode" [src]="qrCode"/>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
